/*THEME VARIABLES*/

// Dark
$background-color:#000;
$text-color: #fff;
$primary-color:  #f1b80e;
$secondary-color: #222;
$ternary-color: #343434;
$underscore: #f1b80e;
$scrollbar-background-color: #343434;
$scrollbar-color: #f1b80e80;
$scrollbar-color-hover: #f1b80e;

// Light
$background-color-light:#fffcf7;
$text-color-light: #000;
$primary-color-light: #222;
$secondary-color-light: #f1b80e;
$ternary-color-light: #343434;
$underscore-light: #fff;
$scrollbar-background-color-light: #efe1c3;
$scrollbar-color-light: #34343443;
$scrollbar-color-hover-light: #343434;

